[submodule "3rd/libuv"]
	path = 3rd/libuv
	url = https://github.com/libuv/libuv
[submodule "3rd/protobuf"]
	path = 3rd/protobuf
	url = https://github.com/google/protobuf
[submodule "3rd/hiredis/linux/hiredis"]
	path = 3rd/hiredis/linux/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "3rd/hiredis/win/hiredis"]
	path = 3rd/hiredis/win/hiredis
	url = https://github.com/caodhuan/hiredis
